@import url("https://fonts.googleapis.com/css2?family=Delius&family=Mali:wght@700&family=Poppins&family=Sacramento&display=swap");
* {
  box-sizing: border-box;
  font-family: "Delius", cursive;
}

body {
  margin: 0;
  background-color: #232946;
  color: #fffffc;
  margin-left: 250px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #b8c1ec;
  border-right: 5px solid #eebbc3;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  line-height: 20px;
}

nav img {
  width: 70%;
  display: block;
  margin-bottom: 35px;
  border-radius: 100%;
  border: 3px solid #232946;
}

nav a {
  display: inline-block;
  text-decoration: none;
  padding: 5px 15px;
  font-size: 0.9em;
  font-weight: bold;
  color: #232946;
  border-style: solid;
  border-color: #232946;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-family: "Mali", cursive;
  transition: 0.3s;
}

nav a:hover {
  background-color: #eebbc3;
}

.contact-me {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), #232946),
    url(images/bg-img.jpg);
  background-image: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-me .header {
  display: block;
  margin-left: 10px;
  margin-right: 10px;
  line-height: 100%;
}

h1 {
  font-size: 50px;
  font-family: "Sacramento", cursive;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row .input-group {
  flex-basis: 48%;
}

form {
  width: 90%;
  max-width: 600px;
}

.input-group {
  margin-bottom: 30px;
  position: relative;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  outline: 0;
  border: 1px solid #232946;
  color: #232946;
  background-color: #eebbc3;
  font-size: 15px;
}

label {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  color: #232946;
  cursor: text;
  transition: 0.2s;
}

input:focus ~ label,
input:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
  color: #fffffc;
  top: -35px;
  font-size: 14px;
}

button {
  padding: 10px 5px;
  color: #232946;
  outline: none;
  border: 1px solid #232946;
  width: 100%;
  cursor: pointer;
}

button:hover {
  background-color: #eebbc3;
  color: #232946;
  transition: color 0.2s;
}
