@import url("https://fonts.googleapis.com/css2?family=Delius&family=Mali:wght@700&family=Poppins&family=Sacramento&display=swap");
* {
  box-sizing: border-box;
  font-family: "Delius", cursive;
}

body {
  margin: 0;
  background-color: #232946;
  color: #fffffc;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

p.follow-me {
  font-size: 20px;
  margin: 10px 0;
}

/* Navigation Bar Styling */
nav {
  z-index: 2;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 70px;
  padding: 0 1em;
  background-color: #b8c1ec;
  border-bottom: 5px solid #eebbc3;
}

nav .logo {
  font-family: "Sacramento", cursive;
  font-size: 2em;
  line-height: 70px;
  font-weight: bold;
  color: #232946;
}

nav .nav-menu {
  position: absolute;
  right: 1.5em;
  top: 0;
  padding: 0;
  margin: 0;
  list-style: none;
}

nav .nav-item {
  display: inline-block;
}

nav .nav-item a {
  display: inline-block;
  color: #232946;
  padding: 0 1.5em;
  text-decoration: none;

  color: #232946;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-family: "Mali", cursive;
  transition: 0.3s;
  line-height: 70px;
}

nav.nav-item a::after {
  content: "";
  height: 2px;
  width: 0%;
  background-color: #232946;
  display: block;
  transition: 0.5s ease-in-out;
}

nav.nav-item a:hover::after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: #232946;
  display: block;
}

@media screen and (max-width: 1345px) {
  nav .nav-item a {
    padding: 0 0.5em;
  }
}

@media screen and (max-width: 1125px) {
  nav .nav-item a {
    padding: 0 0.3em;
  }
}

nav .button-hamburger {
  display: none;
  position: absolute;
  right: 1.5em;
  top: 50%;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
  transform: translateY(-50%);
}

nav .button-hamburger span {
  display: block;
  width: 30px;
  height: 4px;
  background-color: #232946;
  margin: 6px;
  border-radius: 2px;
  transition: 0.3s ease-in-out;
}

nav .button-hamburger span:nth-child(4),
nav .button-hamburger span:nth-child(5) {
  position: absolute;
  top: 10px;
  opacity: 0.5;
}

nav .button-hamburger span:nth-child(4) {
  transform: rotate(45deg) scale(0);
}

nav .button-hamburger span:nth-child(5) {
  transform: rotate(-45deg) scale(0);
}

nav.opened .button-hamburger span:nth-child(4) {
  opacity: 1;
  transform: rotate(45deg) scale(1);
}

nav.opened .button-hamburger span:nth-child(5) {
  opacity: 1;
  transform: rotate(-45deg) scale(1);
}

nav.opened .button-hamburger span:nth-child(1),
nav.opened .button-hamburger span:nth-child(2),
nav.opened .button-hamburger span:nth-child(3) {
  opacity: 0;
}

@media screen and (max-width: 1079px) {
  nav .nav-menu {
    position: fixed;
    left: 0;
    right: 0;
    top: 70px;
    bottom: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: #b8c1ec;
    transition: bottom 0.5s ease-in-out;
    overflow: hidden;
  }

  nav.opened .nav-menu {
    bottom: 0;
  }

  nav .nav-item > a {
    display: block;
  }

  nav .button-hamburger {
    display: block;
  }
}

/* Home Page Styling */
article {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: center;
  margin: 5vh 3vw;
  padding-top: 10vh;
}

@media screen and (min-width: 1366px) {
  main.home > h1 {
    font-size: 70px;
  }
}
@media screen and (max-width: 768px) {
  main.home > h1 {
    font-size: 50px;
    text-align: center;
  }
  main.home > p.typing {
    font-size: 21px;
    text-align: center;
  }
}

img.home-img {
  display: flex;
  align-content: center;
  width: 35%;
  border-radius: 100%;
  margin: 8px 0;
}

.social-icon {
  transition: color 0.2s;
  text-decoration: none;
  margin: 0 5px;
  color: #eebbc3;
  font-size: 30px;
}

.social-icon:hover {
  color: #b8c1ec;
}

main.home {
  display: inline-block;
}

main h1 {
  font-size: 70px;
  font-family: "Sacramento", cursive;
  line-height: 80%;
  margin: 25px 0px;
}

.typing {
  font-size: 30px;
}

a.contact-me-page,
a.view-resume {
  background-color: #eebbc3;
  color: #232946;
  padding: 10px 10px;
  border: 2px #232946 solid;
  text-decoration: none;
  margin-right: 30px;
  font-size: 20px;
}

a.contact-me-page:hover,
a.view-resume:hover {
  background-color: #b8c1ec;
  color: #232946;
}

/* About Me Styling */
.about-me span {
  font-family: "Sacramento", cursive;
  font-size: 1.5em;
}

.about-me h1 {
  margin-top: 50px;
  font-family: "Delius", cursive;
  font-size: 2em;
  line-height: 150%;
}

.about-me p {
  font-size: 130%;
}

main.about-me {
  display: inline-block;
  margin-top: 1.5%;
  padding: 30px;
}

/* Education Styling */
div.education-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
}

.education-icon {
  color: #fffffc;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 80px;
  margin-top: 90px;
}

div.education > h1 {
  margin: 0 10px;
  font-size: 50px;
  text-align: center;
  font-family: "Sacramento", cursive;
  color: #fffffc;
}

@media screen and (max-width: 321px) {
  div.education > h1 {
    margin: 0 10px;
    font-size: 34px;
    display: flex;
    justify-content: center;
    font-family: "Sacramento", cursive;
    color: #fffffc;
  }
  div.school > h1 {
    font-size: 25px;
    margin: 10px 5px;
    display: flex;
    justify-content: center;
    font-size: 1.2em;
  }
  div.school > p {
    margin: 5px 0;
    font-size: 20px;
  }
}

@media screen and (max-width: 1000px) {
  div.school > h1 {
    margin: 0px 5px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 60px;
  }
  div.school > p {
    margin: 5px 0;
    font-size: 40px;
  }
  div.education-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
  }
}

div.school {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  background-color: #eebbc3;
  color: #232946;
  padding: 20px;
  margin: 15px;
  border-radius: 10px;
  flex-grow: 1;
  flex-basis: 0;
}
div.school > h1 {
  margin: 0px 5px;
  display: flex;
  justify-content: center;
  font-size: 25px;
}

div.school > p {
  margin: 5px 0;
  font-size: 15px;
}

h1.education-header > div {
  font-size: 20px;
  font-family: "Delius", cursive;
}

/* Achievements Styling  */
.achievements-icon {
  color: #fffffc;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 80px;
  margin-top: 90px;
}

.achievements > h1 {
  font-size: 2.8em;
  font-family: "Sacramento", cursive;
  text-align: center;
  margin: 0 5px;
}

h1.achievements-header > div {
  font-size: 20px;
  font-family: "Delius", cursive;
}

.achievement-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}

.achievement-cert {
  max-width: 95%;
  margin: 5px 8px;
  width: 394.26px;
  height: 559px;
}

h3.achievements-description {
  margin: 15px 5px 0 5px;
  font-size: 17px;
  text-align: center;
}

/* Testimonials Styling */
.testimonials-icon {
  color: #fffffc;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 80px;
  margin-top: 90px;
}

h1.testimonials-header {
  font-size: 2.8em;
  font-family: "Sacramento", cursive;
  text-align: center;
  margin: 0 8px;
}

.testimonials-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.testimonial {
  max-width: 95%;
  margin: 8px 3px 5px 3px;
  width: 394.26px;
  height: 559px;
}

h1.testimonials-header > div {
  font-size: 20px;
  font-family: "Delius", cursive;
}

h3.testimonials-description {
  margin: 15px 5px 0 5px;
  font-size: 17px;
  text-align: center;
}

/* Hobbies Styling */
.hobbies-icon {
  color: #fffffc;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 80px;
  margin-top: 90px;
}

h1.hobbies-header {
  font-size: 2.8em;
  font-family: "Sacramento", cursive;
  text-align: center;
  margin: 0px 5px;
}

h1.hobbies-header > div {
  font-size: 20px;
  font-family: "Delius", cursive;
}

.hobbies-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}

.hobbies-flex > div {
  flex-basis: 0;
  flex-grow: 1;
}

h3.hobbies-description {
  margin: 10px 5px 0 5px;
  font-size: 17px;
  text-align: center;
}

.hobby {
  max-width: 95%;
  margin: 5px 8px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1000px) {
  .hobbies-flex {
    flex-direction: column;
    max-width: 95%;
    margin: 8px 3px 5px 3px;
    object-fit: fill;
  }
}

/* Contact Me Styling  */
.contact-me {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), #232946),
    url(images/bg-img.jpg);
  background-size: cover;
  position: absolute;
  top: 70px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-me .header {
  display: block;
  margin-left: 10px;
  margin-right: 10px;
}

h1.heading {
  margin: 10px 0;
  font-size: 35px;
  font-family: "Sacramento", cursive;
}

.header h3 {
  margin: 15px 0 30px 0;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row .input-group {
  flex-basis: 48%;
}

form {
  width: 90%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

.input-group {
  margin-bottom: 30px;
  position: relative;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  outline: 0;
  border: 1px solid #232946;
  color: #232946;
  background-color: #eebbc3;
  font-size: 15px;
}

label {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  color: #232946;
  cursor: text;
  transition: 0.2s;
}

input:focus ~ label,
input:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
  color: #fffffc;
  top: -35px;
  font-size: 14px;
}

button.form-button {
  padding: 10px 5px;
  color: #232946;
  outline: none;
  border: 1px solid #232946;
  width: 100%;
  cursor: pointer;
}

button.form-button:hover {
  background-color: #eebbc3;
  color: #232946;
  transition: color 0.2s;
}
